happy_birthday ,

<h1>Hi <%=  @info.user.email  %>, happy_birthday !</h1>
	<h2>This is mail from support administration of site mylieblingsnetwork</h2>
	You get some presents for us!
<h3>Ours Congratulations!</h3>

<p>	Visit us:
	<%= link_to "mylieblingsnetwork" ,@info  %>
</p>
