.allpage{
	background: url("https://lorempixel.com/city/1580/1100");
	background-repeat: no-repeat;
}

.container_middle{
	height:750px;
	margin:50px;
}

.welcomepage{
	height:1000px;
}
.allpage .frame .page{

	background-color: lightgrey;
text-align: center;
   height: 1000px;
   margin-top: 40px;
}


.allpage .frame{
	margin: 10px;
	
}