.allpage{
	background: url("https://lorempixel.com/city/1580/1100");
	background-repeat: no-repeat;
}

.container_middle{
	height:750px;
	margin:50px;
}

.welcomepage{
	height:1000px;
}
.allpage .frame .page{
	margin: 20px;
	background-color: lightgray;
}
.allpage .frame .content{
	margin: 20px;
	
}

.allpage .frame{
	margin: 10px;
	
}